
.name
{
    /* width: 200px; */
    color: white;
    font-size: 8vw;
    border-radius: 30px;color: white;
    font-size: 8vw;
    border-radius: 30px;
}
.place
{
    padding-top: 50px;
    padding-left: 18vw;
    padding-right: 18vw;
    text-align: center;
    height: 650px ;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.sajek
{
    padding-top: 80px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(resources/sajek1.jpg);
}
.sent_martin
{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(resources/sent1.jpg);
}
.sundarban
{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(resources/sundarban.jpg);

}
.coxs_bazar
{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(resources/coxs2.jpg);
}
.srimangal
{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(resources/srimangal.jpg);
}
.kuakata
{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(resources/kuakata.jpg);
}
.dis
{
    color: white;
    border-top: 8vw solid transparent;
}
.source
{
    text-align: end;
    color: darkslategrey;
}
.but
{
    margin-top: 20px;
    /* font-size: 2vw; */
    border-radius: 10px;
}
.eBut a
{
    text-decoration: none;
    color: lightcyan;
    transition: color;
    transition-duration: 300ms;
}
.eBut a:link
{
    color: black;
}
.eBut a:hover
{
    color: black;
}
.eBut:hover a
{
    color: black;
}